* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color:darksalmon ;
}

main {
  background-color:cornflowerblue ;
  width:100vh;
  height: 100vw;

  display: flex;
  flex-flow:nowrap;
  justify-content: center;
  align-items: center;
}

section {
  background-color: rgb(143, 180, 80);
  height: 200px;
  width:200px;
}